
*.html
*.xml
*.iml
3rd/out/production/3rd/com/company/Main.class
Java/
4th/out/production/4th/com/company/Main.class
Array/out/production/Array/com/company/Main.class
Car/out/production/Car/com/company/Car.class
Car/out/production/Car/com/company/Main.class
Generics/out/production/Generics/com/company/Box.class
Generics/out/production/Generics/com/company/Main.class
Generics/out/production/Generics/com/company/Pair.class
Hsch/out/production/Hsch/com/company/Course.class
Hsch/out/production/Hsch/com/company/Lecturer.class
Hsch/out/production/Hsch/com/company/Main.class
Hsch/out/production/Hsch/com/company/SchoolPpl.class
Hsch/out/production/Hsch/com/company/Student.class
HW/out/production/HW/com/company/Animal.class
HW/out/production/HW/com/company/Circle.class
HW/out/production/HW/com/company/hasPerAndArea.class
HW/out/production/HW/com/company/Land.class
HW/out/production/HW/com/company/Main.class
HW/out/production/HW/com/company/Rectangle.class
HW/out/production/HW/com/company/Shapes.class
HW/out/production/HW/com/company/Square.class
HW/out/production/HW/com/company/Triangle.class
HW/out/production/HW/META-INF/HW.kotlin_module
Metodes/out/production/Metodes/com/company/Main.class
Projekts/out/production/Projekts/com/company/Main.class
Projekts/out/production/Projekts/com/company/Person.class
Projekts2/out/production/Projekts2/com/company/Course.class
Projekts2/out/production/Projekts2/com/company/HasId.class
Projekts2/out/production/Projekts2/com/company/Main.class
Projekts2/out/production/Projekts2/com/company/Professor.class
Projekts2/out/production/Projekts2/com/company/SchoolPpl.class
Projekts2/out/production/Projekts2/com/company/Student.class
Karatavas/out/production/Karatavas/com/company/Main.class
KaratavasJavaFX/out/production/KaratavasJavaFX/com/company/Funct.class
KaratavasJavaFX/out/production/KaratavasJavaFX/com/company/Main.class
